body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#calcbox {
    position:fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
    width: 50vmin;
    height: 70vmin;
    border: 1px solid black;
}

#screen {
    position: fixed;
    width: 80%;
    height: 20%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    border: 1px solid black;
}

.btnbox {
    position: fixed;
    width: 80%;
    height: 60%;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2%;
}

#c {
    grid-column: 1 / span 1;
}

#ce {
    grid-column: 2 / span 1;
}

#one {
    grid-column-start: 1;
}
